<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Stock</title>
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../jslib/angular.min.js"></script>
<script src="hierarchy.js"></script>
</head>
<body>

	<div class="spicy" ng-app="scopeInheritance">
		<div ng-controller="MainController">
			<p>Good {{timeOfDay}}, {{name}}!</p>

			<div ng-controller="ChildController">
				<p>Good {{timeOfDay}}, {{name}}!</p>

				<div ng-controller="GrandChildController">
					<p>Good {{timeOfDay}}, {{name}}!</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>