<!doctype html>
<html lang="en" ng-app="stock">
<head>
  <meta charset="utf-8">
  <title>Stock</title>
  <link rel="stylesheet" href="../css/bootstrap.css"><link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="../jslib/angular.min.js"></script>
  <script src="stock.js"></script>
  <script src="yahooQuote.js"></script>
  <script>
  $(function() {
    $( "#startDate" ).datepicker({dateFormat:"yy-mm-dd"});
    $( "#endDate" ).datepicker({dateFormat:"yy-mm-dd"});
  });
  </script>
</head>
<body>

  <div ng-controller="StockController as stock">
  	<div>Symbol: <input type="text" required ng-model="stock.quote.symbol"></div>
  	<div>StartDate: <input type="text" id="startDate" ng-model="stock.quote.startDate"></div>
  	<div>endDate: <input type="text" id="endDate" ng-model="stock.quote.endDate"></div>
  	<div><button ng-click="stock.findQuote()">Get Quote</button></div>
  	
  	<br/>
  	
  	<table ng-show="stock.quote.results.length" border="1">
	  	<tr>
	  		<td>Symbol</td>
	  		<td>AverageDailyVolume</td>
	  		<td>Change</td>
			<td>DaysHigh</td>
			<td>DaysLow</td>
			<td>LastTradePriceOnly</td>
			<td>MarketCapitalization</td>
			<td>StockExchange</td>
			<td>Volume</td>
			<td>YearHigh</td>
			<td>YearLow</td>
	  	</tr>
	  	<tr ng-repeat="result in stock.quote.results">
	  		<td>{{result.symbol}}</td>
	  		<td>{{result.AverageDailyVolume}}</td>
	  		<td>{{result.Change}}</td>
			<td>{{result.DaysHigh}}</td>
			<td>{{result.DaysLow}}</td>
			<td>{{result.LastTradePriceOnly}}</td>
			<td>{{result.MarketCapitalization}}</td>
			<td>{{result.StockExchange}}</td>
			<td>{{result.Volume}}</td>
			<td>{{result.YearHigh}}</td>
			<td>{{result.YearLow}}</td>
	  	</tr>
  	</table>
  	
  	<table ng-show="stock.quote.historyResults.length" border="1">
	  	<tr>
	  		<td>Symbol</td>
	  		<td>Date</td>
	  		<td>Open</td>
	  		<td>Close</td>
			<td>Low</td>
			<td>High</td>
			<td>Volume</td>
	  	</tr>
	  	<tr ng-repeat="result in stock.quote.historyResults">
	  		<td>{{result.Symbol}}</td>
	  		<td>{{result.Date}}</td>
	  		<td>{{result.Open}}</td>
			<td>{{result.Close}}</td>
			<td>{{result.Low}}</td>
			<td>{{result.High}}</td>
			<td>{{result.Volume}}</td>
	  	</tr>
  	</table>
  	
  </div>

</body>
</html>