<div class="container">
	<div class="pager">
		<input class="col-md-4" type="text" placeholder="Create New Task..." data-toggle="modal" data-target="#myModal">
	</div>



<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">New Tasks</h3>
		<div class="box-body">
			<ul class="products-list product-list-in-box" *ngFor="let task of tasks">
				<li class="item">
					<span (click)='getTask(task._id)' data-toggle="modal" data-target="#myModal" 
						[innerHtml]="task.content | nl2br">
					</span>
					<span class="pull-right">
						<a href="#" (click)="completeTask(task._id)">								
							<i class="fa fa-check" aria-hidden="true"></i>
						</a>	
						<a href="#" (click)="moveToTop(task._id)">
							<i class="fa fa-angle-double-up" aria-hidden="true"></i>
						</a>
						<a href="#" (click)="moveUp(task._id)">
							<i class="fa fa-fw fa-arrow-up"></i>
						</a>
						<a href="#" (click)="moveDown(task._id)">
							<i class="fa fa-fw fa-arrow-down"></i>
						</a>
						<a href="#" (click)="moveToBottom(task._id)">
							<i class="fa fa-angle-double-down" aria-hidden="true"></i>
						</a>
						<a href="#" (click)="deleteTask(task._id)">
							<i class="fa fa-times" aria-hidden="true"></i>
						</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="box box-primary">
	<div class="box-header with-border">
		<h3 class="box-title">Completed Tasks</h3>
		<div class="box-body">
			<ul class="products-list product-list-in-box" *ngFor="let completedTask of completedTasks">
				<li class="item">
					<span [innerHtml]=" completedTask.content | nl2br">
					</span>
					<span class="pull-right">
						<a href="#" (click)="reopenTask(completedTask._id)">
							<i class="fa fa-reply" aria-hidden="true"></i>
						</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<form>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Task...</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<textarea class="form-control" rows="5" id="newTask" name="content" placeholder="blank content..." 
						ngControl="content" [(ngModel)]="task.content" required></textarea>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" (click)='saveTask()' data-dismiss="modal">Save</button>
			</div>
			</form>
		</div>
	</div>
</div>